{% extends 'base.html' %}

{% block title %}Potwierdzenie Klienta{% endblock %}

{% block content %}
    <h1>Potwierdzenie Klienta</h1>

    <p>Znaleziono klienta o NIP: {{ klient.klient_nip }}</p>
    <p>Nazwa: {{ klient.klient_nazwa }}</p>

    <form method="POST">
        {% csrf_token %}
        <p>Czy to jest poprawny klient?</p>
        <button type="submit" name="confirm_klient" value="yes" class="btn btn-primary">Tak, to jest poprawny klient
        </button>
        <a href="{% url 'klient_create' %}" class="btn btn-secondary">Nie, pozwól mi edytować dane klienta</a>
    </form>
{% endblock %}
