{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}App{% endblock %}</title>

    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <!-- Bootstrap CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    <!-- DataTables CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.13.6/css/jquery.dataTables.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'home' %}">Strona Główna</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navigation Links -->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ml-auto">
                <!-- Klienci -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'klient_list' %}">Klienci</a>
                </li>
                <!-- Faktury -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'faktura_list' %}">Faktury</a>
                </li>
                <!-- Pozycje -->
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'pozycja_list' %}">Pozycje</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container mt-4">
    {% block content %}
    {% endblock %}
</div>

<footer class="footer mt-auto py-3 bg-dark">
    <div class="container">
        <span class="text-muted">Maciej Karabin © 2025</span>
        <a href="https://github.com/amdla" class="text-muted">https://github.com/amdla</a>
    </div>
</footer>

<!-- jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- DataTables -->
<script src="https://cdn.datatables.net/1.13.6/js/jquery.dataTables.min.js"></script>

<!-- Bootstrap (optional) -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.2/dist/js/bootstrap.bundle.min.js"></script>

<!-- Ensure DataTables runs only when the DOM is ready -->
<script>
    document.addEventListener("DOMContentLoaded", function () {
        if ($.fn.DataTable) {
            $('#klientTable').DataTable();
            $('#fakturaTable').DataTable();
            $('#pozycjaTable').DataTable();
        } else {
            console.error("DataTables library is not loaded.");
        }
    });
</script>


</body>
</html>
